<!DOCTYPE html>
<html>
  <head>
    <title>MiniAppKK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MiniApp_KK</title>
    <link rel="stylesheet" href="">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>
  <header class="header">
    <nav class="#ffa000 amber darken-2">
      <div class="nav-wrapper container">
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <%= link_to 'MiniApp_KK', root_path,class: "brand-logo" %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            </li>
            <li>
              <%= link_to '投稿', new_article_path %>
            </li>
            <li>
              <%= link_to 'マイページ', user_path(current_user.id) %>
            </li>
          <% else %>
            <li>
              <%= link_to '新規登録', new_user_registration_path %>
            </li>
            <li>
              <%= link_to 'ログイン', new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <ul id="slide-out" class="sidenav">
      <% if user_signed_in? %>
        <li><%= link_to destroy_user_session_path, method: :delete do%>
            <i class="material-icons">exit_to_app
</i> ログアウト
          <% end %>
        </li>
        <li>
          <%= link_to new_article_path do%>
            <i class="material-icons">send</i> 投稿
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user.id) do%>
            <i class="material-icons">home</i> マイページ
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_registration_path do%>
            <i class="material-icons">assignment_ind</i> 新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="material-icons">account_box</i> ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </header>
    <main>
      <%= yield %>
    </main>
<footer class="page-footer #ffa000 amber darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="center">© 2018 Copyright Text</p>
    </div>
  </div>
</footer>
  <div class="scrollToTop btn-floating btn-large waves-effect">
    <i class="material-icons #ef6c00 orange darken-3">arrow_upward</i>
  </div>
  </body>
</html>
